<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">

    <listeners>
        <listener class-name="academy.Listeners"/>
    </listeners>
    <test verbose="2" preserve-order="true" name="/Users/carloscavalcante/Documents/Java/E2EProject">
        <classes>
            <class name="academy.HomePage">
                <methods>
                    <include name="basePageNavigation"/>
                </methods>
            </class>
            <class name="academy.ValidateTitle">
                <methods>
                    <include name="basePageNavigation"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>